.headline
  #city
    %h2
      = link_to "Wahllokalfinder #{@city.name}", root_path
#search-wrapper
  #search.box
    %h2
      WAHLBEZIRKSNUMMER / ADRESSE
    %p

    #search-form
      = form_tag '#' do
        = text_field_tag :number, params[:number], placeholder: 'Eifelstr 10'
        = hidden_field_tag :city, params[:city_slug]
        = hidden_field_tag :image_marker1, image_path('marker1.png')
        = hidden_field_tag :image_marker2, image_path('marker2.png')
        = hidden_field_tag :image_rollstuhl, image_path('rollstuhl.png')
        %button{type: 'submit'}
          %i.fa.fa-chevron-circle-right

  #slogan.box
    %h2.slogan
      = "Finde DEIN WAHLLOKAL in #{@city.name} mit unserem Wahllokalfinder!"
    %h2.not-found Kein passendes Wahllokal gefunden.

  #logo.box
    = link_to '#' do
      = image_tag asset_path('logo.png')
.share-block
  = render '/shared/social_share'

#footer
  = render '/layouts/footer'

#map{data: { wheelchair_stations: @with_wheelchair_stations.map{|s| {number: s.vote_district_id, street: s.address, name: s.name, phone: s.phone, geo: [s.latitude, s.longitude]}}.to_json, without_wheelchair_stations: @without_wheelchair_stations.map{|s| {number: s.vote_district_id, street: s.address, name: s.name, phone: s.phone, geo: [s.latitude, s.longitude]}}.to_json}}
