.headline
  %h2
    WAHLLOKALFINDER

#boxes-wrapper
  #search-wrapper.featured-box.search-box
    #search
      %h2.1
        WAHLBEZIRKSNUMMER / ADRESSE
      #search-form
        = form_tag '#' do
          = text_field_tag :number, params[:number], placeholder: 'Eifelstr. 10, 50677'
          %button{type: 'submit'}
            %i.fa.fa-chevron-circle-right
    #slogan.box
      %h2.slogan Finde DEIN WAHLLOKAL mit unserem Wahllokalfinder!
      %h2.not-found Kein passendes Wahllokal gefunden.
    #logo.box
      = link_to '#' do
        = image_tag asset_path('logo.png')
  .featured-box.cities-box
    %h2 Städte
    - if @cities.any?
      .cities
        - @cities.each do |city|
          = link_to city.name, city_path(city.slug), class: 'city-name'

#footer
  = link_to "http://www.ksta.de/", target: '_blank' do
    = image_tag asset_path('logo_ksta_neu.gif')
  = link_to "http://www.railslove.com/", target: '_blank' do
    = image_tag asset_path('railslove.png'), class: 'smaller'
  = link_to "http://www.stadt-koeln.de/", target: '_blank' do
    Ermöglicht mit Daten von
    = image_tag asset_path('koeln.png')

#map{}
