.headline
  %h2#cities
    WAHLLOKALFINDER

#boxes-wrapper
  #cities-list.cities-list-box
    %h3
    - @cities.each do |city|
      = link_to "#{city.name}", city_path(city.slug), {class: 'city-llink', data: {slug: city.slug}}

#footer
  = render '/layouts/footer'
.share-block
  %p TEILEN
  = social_share_button_tag
#map{data: { wheelchair_stations:{} ,without_wheelchair_stations:{}  } }
%script
  var geojson = {
  type: 'FeatureCollection',
  features: [
  - @cities.each do |city|
    = "{ type: 'Feature', geometry: {type: 'Point', coordinates: [#{city.coordinates}]},properties: {title: '#{city.name}', slug: '#{city.slug}', description: '#{city.name} - #{city.state}'}},".html_safe
  ]};
