.headline
  %h2
    WAHLLOKALFINDER

#boxes-wrapper
  .featured-box
    

#footer
  = link_to "http://www.ksta.de/", target: '_blank' do
    = image_tag asset_path('logo_ksta_neu.gif')
  = link_to "http://www.railslove.com/", target: '_blank' do
    = image_tag asset_path('railslove.png'), class: 'smaller'
  = link_to "http://www.stadt-koeln.de/", target: '_blank' do
    Ermöglicht mit Daten von
    = image_tag asset_path('koeln.png')

#map{data: { wheelchair_stations:{} ,without_wheelchair_stations:{}  } }
%script
  var geojson = {
  type: 'FeatureCollection',
  features: [
  - @cities.each do |city|
    = "{ type: 'Feature', geometry: {type: 'Point', coordinates: [#{city.coordinates}]},properties: {title: '#{city.name}', slug: '#{city.slug}', description: '#{city.name} - #{city.state}'}},".html_safe
  ]};
