%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
%meta{name: "keywords", content: "#{@city.name}, Wahlen in #{@city.name}, #{@city.name} Wahllokale , Wahllokale, Bundestagswahl, Wahllokalfinder, Wählen, Abstimmung, Stimmabgabe, Wahl"}
%meta{name: "description", content: "Finde dein richtiges Wahllokal in #{@city.name}: Gib deine Adresse ein und finde dein Wahllokal in wenigen Sekunden."}
%meta{name: "subject", content: "Finde dein Wahllokal zur Bundestagswahl"}>
%meta{name: "language", content: "DE"}
%meta{name: "url", content: "http://www.wahllokale.online/#{@city.slug}"}
