= link_to "http://www.ksta.de/", target: '_blank' do
  = image_tag asset_path('logo-kr.png')
= link_to "http://www.railslove.com/", target: '_blank' do
  = image_tag asset_path('railslove.png'), class: 'smaller'
= link_to "http://www.oklab-potsdam.de/", target: '_blank' do
  = image_tag asset_path('OKLab_Potsdam.png'), class: 'smaller'
= link_to "http://www.kdvz-frechen.de/", target: '_blank' do
  = image_tag asset_path('logo_kdvz.jpg'), class: 'smaller'
%p Ermöglicht mit Daten von
= link_to "http://www.stadt-koeln.de/", target: '_blank' do
  = image_tag asset_path('koeln.png')
= link_to "http://www.stadt-frechen.de/", target: '_blank' do
  = image_tag asset_path('frechen.png')
= link_to "https://www.potsdam.de/", target: '_blank' do
  = image_tag asset_path('potsdam.png')
