!!!
%html
  %head
    = render '/shared/home_og'
    = render '/shared/home_meta'
    %title
      = "Finde dein Wahllokal zur Bundestagswahl | Wahllokalfinder"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Oswald|Lekton", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css", :rel => "stylesheet"}/
  %body
    = yield
    %script{:src => "https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js"}
    = javascript_include_tag "application"
