<!DOCTYPE html>
<html>
<head>
  <title>Wahllokalfinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application_city" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Lekton" media="screen">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
